<config>
    <modules>
        <Mmx_Processor>
            <version>0.1.0</version>
        </Mmx_Processor>
    </modules>
    <global>
        <blocks>
            <mmx_processor>
                <class>Mmx_Processor_Block</class>
            </mmx_processor>
        </blocks>
        <models>
            <mmx_processor>
                <class>Mmx_Processor_Model</class>
            </mmx_processor>
        </models>
        <helpers>
            <mmx_processor>
                <class>Mmx_Processor_Helper</class>
            </mmx_processor>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <mmx_processor_observer_order_place_after>
                        <type>singleton</type>
                        <class>mmx_processor/observer</class>
                        <method>processOrder</method>
                    </mmx_processor_observer_order_place_after>
                </observers>
            </sales_order_place_after>
            <order_cancel_after>
                <observers>
                    <mmx_processor_observer_order_cancel_after>
                        <type>singleton</type>
                        <class>mmx_processor/observer</class>
                        <method>cancelOrder</method>
                    </mmx_processor_observer_order_cancel_after>
                </observers>
            </order_cancel_after>            
        </events>
    </global>
</config>